{% extends 'home/base.html' %}
<title>{% block title %} Homepage {% endblock %}</title>
{% block header %}
{% load staticfiles %}

<section class="banner half">
		<article>
			<img src="{% static 'images/single_grey_caps.jpg' %}" alt="" />
			<div class="inner">
				<header>
					<p>Home of Caps</p>
					<h2>Welcome</h2>
				</header>
			</div>
		</article>
		<article>
			<img src="{% static 'images/totem_drawing.jpg' %}" alt="" />
			<div class="inner">
				<header>
					<p>Push your game further with</p>
					<h2><a href="{% url 'shop:shop_index' %}">Totems add-ons</a></h2>
				</header>
			</div>
		</article>
		<article>
			<img src="{% static 'images/slide03.jpg' %}"  alt="" />
			<div class="inner">
				<header>
					<p>Collect exclusive Caps series</p>
					<h2><a href="{% url 'shop:shop_index' %}">Get them all !</a></h2>
				</header>
			</div>
		</article>
		<article>
			<img src="{% static 'images/slide04.jpg' %}"  alt="" />
			<div class="inner">
				<header>
					<p>Extend the game :</p>
					<h2><a href="{% url 'rulz:rulz_index' %}">Share your rules</a></h2>
				</header>
			</div>
		</article>
		<article>
			<img src="{% static 'images/trophy_collection.jpg' %}"  alt="" />
			<div class="inner">
				<header>
					<p>Become the best capser</p>
					<h2>Of all time !</h2>
				</header>
			</div>
		</article>
	</section>

{% endblock %}  <!--end of header block-->


{% block body %}

{% load staticfiles %}

		<!-- One -->

		<section id="one" class="wrapper style2">
			<div class="inner">
				<div>
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>Hot stuff</h2>
							</header>
							<a href="{% url 'home:register' %}" class="button alt">register</a>

							<footer class="align-center">
								<h2>make it banner style</h2>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>


		{% if user.is_authenticated %}
			<section id="one" class="wrapper style2">
				<div class="container-fluid">
					<div class="inner">
						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<h2>Member section<p>You are logged in, cool stuff here</p></h2>
									</header>
									
									<div class="container-fluid">
											<div class="container">
													<div class="row">
															<div class="col-md-12">
																<div class="row">
																	<div class="col-md-4">
																		<div class="panel panel-default">
																			<div class="panel-heading">
																				<h4 class="panel-title">Rulz stats</h4>
																			</div>
																			<div class="panel-body">
																				<h4>You've posted <span class="badge">{{myrulz}}</span> Rulz</h4>
																				<h4>Site has a total of <span class="badge">{{total_rulz}}</span> Rulz</h4>
																				<h4>Your Rulz represent <span class="badge">{{ rulz_percentage|floatformat:0 }}</span> %</h4>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="panel panel-default">
																			<div class="panel-heading">
																				<h4 class="panel-title">Comments stats</h4>
																			</div>
																			<div class="panel-body">
																				<h4>You've posted <span class="badge">{{mycomments}}</span> comments</h4>
																				<h4>Site has a total of <span class="badge">{{total_comments}}</span> comments</h4>
																				<h4>Your comments represent <span class="badge">{{ comments_percentage|floatformat:0 }}</span> %</h4>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="panel panel-default">
																			<div class="panel-heading">
																				<h4 class="panel-title">Comments stats</h4>
																			</div>
																			<div class="panel-body">
																				<h4>Capser since <span class="badge">{{user.date_joined}}</span> </h4>
																				<h4>Site has <span class="badge">{{nb_users}}</span>users</h4>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% else %} 


			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>come create account stuff</h2>
								</header>
								<p>General stuff here</p>
							</div>
						</div>
					</div>
				</div>
			</section>

	  	{% endif %} 



			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="gallery">
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/pic02.jpg' %}" alt="" />
								</div>

								<div class="content">
									<header class="align-center">
										<p>You make the rules</p>
										<h2>You make the game</h2>
									</header>
									<p>Create your own to make the game more fun</p>
									<footer class="align-center">
										<a href="{% url 'rulz:rulz_index' %}" class="button alt">Go find rules</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/pic03.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Customized caps and printable totems</p>
										<h2>Make the game your own</h2>
									</header>
									<p>Discover</p>
									<footer class="align-center">
										<a href="{% url 'shop:shop_index' %}" class="button alt">Shop</a>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!--<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Latest news</h2>
					</header>
				</div>
			</section>


			<section id="three" class="wrapper style1">
				<div class="inner">
					<header class="align-center">
						<p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Member section</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>-->


{% endblock %}

