{% extends 'rulz/Rulz_base.html' %}

{% block body %}

{% load staticfiles %}
		


		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/pic02.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>maecenas sapien feugiat ex purus</p>
										<h2>Lorem ipsum dolor</h2>
									</header>
									<footer class="align-center">
										<a href="{% url 'rulz:rulz_create' %}" class="button alt">Create new rule</a>
										<a href="{% url 'rulz:rulz_index' %}" class="button alt">View existing</a>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


{% endblock %}

